<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lin.blog.mapper.UserAuthMapper">
    <resultMap id="UserAuthResult" type="com.lin.blog.model.entity.UserAuth">
        <id property="id" column="id"/>
        <result property="userInfoId" column="user_info_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="ip" column="ip"/>
        <result property="createTime" column="create_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>

    <select id="getUserAuthByUsername" resultMap="UserAuthResult">
        SELECT * FROM user_auth WHERE username = #{username}
    </select>
</mapper>